body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    background-color: burlywood;
    padding: 10px;
}
h1 {
    color:blue;
    text-align: center;
}
.burung {
    font-size: 45pt;
    color: blue;
}
.quote {
    text-align: center;
    background-color: yellow;
    border: 2px solid black;
    margin: 5px auto;
    width: max-content;
    padding: 10px;
    font-weight: bold;
}
.gambar {
    text-align: center;
}
img {
    width: 20%;
}
.koleksi {
    text-align: center;
}